#login-div{
    width:100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#login-form{
    width:95vw;
    padding:3vh 0;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;

}
.login-section{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width:90vw;
}
.login-icon{
    width:8vw;
    height:4vh;
}
#login-icon{
    width:8vw;
    height:4vh;
}
.login-input{
    width:70vw;
    margin: 1.8vh 0;
    border-radius: 5px;
    padding: 1vh 2vw;
    font-size: 3.3vh;
    border:none;
    color:rgb(43, 196, 145);
    outline-color: rgb(43, 196, 145);
    box-shadow: 2px 2px 10px 0px rgb(180, 179, 179);
}
#login-btn{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width:40vw;
    padding:1vh 0;
    background-color: rgb(46, 164, 218);
    border: none;
    outline:none;
    border-radius: 5px;
    color:white;
    font-size: 3vh;
    margin:3vh 0 0 0;
    box-shadow: 2px 2px 10px 0px rgb(150, 149, 149);
}
#login-btn:hover{
    color:rgb(45, 155, 206);
    background-color: white;
}
.login-span{
    color:rgb(255, 0, 0);
}