#nav-bar {
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: black;
    top: 0;
}

#logo{
    width:30vw;
    height:10vh;
}

#home-btn-div{
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px 0 rgb(84, 84, 84);
}

.home-btn{
    width:25vw;
    padding:1vh 0;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 2vw 0 0;
    border-radius: 5px;
    font-size: 2.5vh;
    font-weight: 500;
    border: none;
    outline: none;
    text-decoration: none;
    background-color: white;
    color:rgb(43, 196, 145);
}
.home-btn:hover{
    background-color: black;
    color:white;
}

#home-div p{
    text-align: center;
}